<!DOCTYPE html>
<html>
<head>
	<% include html_header.ejs %>
</head>
<body ng-app="myApp">
	<% include body_header.ejs %>
	   <script>

   </script>
	<div class="jumbotron">
		<h1>新投票場作成フォーム</h1>
		<p class="lead">新しく投票場を作る画面です。</p>
	</div>
	<div class="container">

		<form class="" role="form" name="eventInfo" action="/create" method="post">

			<h2>管理用の情報を入力ください</h2>
			<hr>
			<div class="form-group row">
				<label for="password" class="col-xs-8 col-sm-2 control-label">パスワード</label>
				<div class="col-sm-3 ">
					<input type="password" name="password" placeholder="Password" ng-model="password" class="form-control" ng-minlength="6" required>
				</div>
				<span class="error" ng-show="eventInfo.password.$error.minlength">6文字以上必要です</span>

			</div>
			<div class="form-group row">
				<label for="password2" class="col-xs-8 col-sm-2 control-label">もう一度</label>
				<div class="col-sm-3">
					<input type="password" name="password2" ng-model="password2" placeholder="again" class="form-control" required match={{password}}>
				</div>
				<span class="error" ng-show="eventInfo.password2.$error.match">パスワードが一致しません</span>
			</div>

			
			<h2>投票用の情報を入力ください</h2>
			<hr>
			<div class="form-group row">
				<label for="title" class="col-xs-8 col-sm-2 control-label">*タイトル</label>
				<div class="col-sm-8">
					<input type="text"ng-model="title"  name="title" placeholder="ex. ３月のアンケート" class="form-control" required>
				</div>
			</div>
			<br>

			<div class="row"> 
				<label for="explain" class="col-xs-8 col-sm-2 control-label">*詳細</label>
				<div class="col-sm-8">
					<textarea class="form-control" ng-model="detail" name="detail" rows="2" placeholder="詳細" required></textarea>
				</div>
			</div>
			<br>
			<br>

			<div class="form-group row">
				<label for="contents" class="col-xs-8 col-sm-2 control-label">*コンテンツ</label>
				<div class="col-sm-8 ">
					<textarea class="form-control" ng-model="content" name="contents" rows="3" placeholder="投票コンテンツの作成" required></textarea>
				</div>
			</div>


			<div class="bs-example"> 
				<div class="row">
					<p class="col-sm-2 ">
						コンテンツの書き方
					</p>
					<p class="col-sm-4">
						takashi<br>
						takeshi<br>
						takeya<br>
						takaya<br>
					</p>
					<div class="col-sm-3">
						<select class="form-control">
							<option value="1">takashi</option>
							<option value="2">takeshi</option>
							<option value="3">takeya</option>
							<option value="4">takeya</option>
						</select>
					</div>
				</div>
			</div>

			<br>
			<button type="submit" name="submit" class="btn-lg btn-success" ng-disabled="eventInfo.$invalid" disabled="disabled">登録</button>
			<span ng-show="eventInfo.$invalid" class="comment">未入力の項目や正しく入力できていない項目があります</span>
		</form>
	</div>
	<% include body_footer.ejs %>

</body>
</html>