<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title><%= title %></title>
<!-- bootstarp -->
<link rel='stylesheet' href='/css/bootstrap.min.css' />

<!-- original or pakuri css -->
<link rel='stylesheet' href='/stylesheets/style.css' />
<script src="/js/votter_func.js"></script>

<!-- ccchart -->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
